---
import {isUserAdmin} from "@lib/util";
import Layout from "@layouts/Layout.astro";
import PageTitle from "@components/ui/PageTitle.astro";
import prisma from "@lib/db";
import SponsorCard from "@components/ui/admin/SponsorCard.astro";
import {actions} from "astro:actions";
const user = Astro.locals.user;
if (!isUserAdmin(user)) {
    return Astro.redirect("/403?url=/admin/users")
}
const tags = (await prisma.tag.findMany({
    select: {
        name: true
    }
})).map(tag => tag.name)
---

<Layout title = "Admin Tags" description = "Admin Tags" canonical = "/admin/tags" currentPage="admin">
    <div class = "mx-auto max-w-none">
        <PageTitle>Tags ({tags.length})</PageTitle>
        <a href = "/admin/tags/create" class = "block w-full p-1 border text-center font-semibold no-underline hover:border-orange-600"> Add Tag </a>
        <div class = "mt-4 flex gap-4 flex-col">
            {tags.map(value =>
                    <div class = "border border-white/10 bg-white/5 flex flex-col gap-y-2 p-2">

                        <p class = "text-center font-semibold text-3xl">
                            {value}
                        </p>
                        <form method = "POST" action = {actions.tag.delete} class = "flex gap-x-2 w-full">
                            <input type = "hidden" value = {value} name = "name"/>
                            <button type = "submit" class = "w-full text-center border border-rose-400 bg-rose-900 hover:bg-rose-700 no-underline block">Delete</button>
                        </form>
                    </div>)}
        </div>

    </div>
</Layout>
