---
import Navbar from "../components/Navbar.astro";
import "../styles/index.css";
import Footer from "../components/Footer.astro";
import {SEO, type SEOProps} from "astro-seo";
interface Props {
    title: string;
    description: string;
    canonical: string;
    currentPage?: "home" | "rules" | "sponsors" | "repositories" | "faq" | "admin";
    wide?: boolean
}

const {title, description, canonical, currentPage, wide} = Astro.props;
const image = "https://modtoberfest.com/logo/png/full/2025.png";

const seo: SEOProps = {
    title,
    description,
    canonical: `https://modtoberfest.com${canonical}`,
    openGraph: {
        basic: {
            title: title,
            type: "website",
            image,
            url: `https://modtoberfest.com${canonical}`
        },
        optional: {
            description,
            siteName: "Modtoberfest",
        },
    },
    twitter : {
       card: "summary_large_image",
       title,
       description,
       image,
       imageAlt: "Modtoberfest Logo",
    },
    extend: {
        meta: [
            {
                property: "charset",
                content: "utf-8",
            },
        ],
    },
};
---

<!doctype html>
<html lang = "en">
<head>
    <meta charset = "UTF-8"/>
    <meta name = "description" content = "Modtoberfest is an annual celebration of open source projects in the Minecraft Community!"/>
    <meta name = "viewport" content = "width=device-width"/>
    <link rel = "icon" type = "image/svg+xml" href = "/favicon.svg?v=1"/>
    <meta name = "generator" content = {Astro.generator}/>
    <meta name = "darkreader-lock">
    <title>{title}</title>
    <link rel="preload" href="/germania_one.woff2" as="font" type="font/woff2">
    <script async defer data-website-id = "d5a805fd-940e-4c3e-853a-9c5d0dd9febf" src = "https://nlytics.blmj.red/scrpt"/>
    <link rel = "apple-touch-icon" sizes = "180x180" href = "/apple-touch-icon.png?v=1"/>
    <link rel = "icon" type = "image/png" sizes = "32x32" href = "/favicon-32x32.png?v=1"/>
    <link rel = "icon" type = "image/png" sizes = "16x16" href = "/favicon-16x16.png?v=1"/>
    <link rel = "manifest" href = "/site.webmanifest"/>
    <link rel="icon" type="image/x-icon" href="/favicon.ico?v=1">
    <SEO {...seo}/>

</head>
<body class = "bg-neutral-950 flex flex-col min-h-screen">
<Navbar currentPage={currentPage}/>
<main class:list={[{"wide": wide}]}>
    <slot/>
</main>
<Footer/>
</body>
</html>
